:root {
  --stf-font-family: 'Ubuntu', sans-serinf;
}

:root {
  --stf-white: #fff;
  --stf-black: #000;
}

:root {
  --stf-gray-50: #eaf3ff;
  --stf-gray-100: #ced8e4;
  --stf-gray-200: #b1becd;
  --stf-gray-300: #94a3b8;
  --stf-gray-400: #7689a2;
  --stf-gray-500: #5d7089;
  --stf-gray-600: #47576b;
  --stf-gray-700: #323e4e;
  --stf-gray-800: #1d2531;
  --stf-gray-900: #040d17;
}

:root {
  --stf-red-50: #ffe4e4;
  --stf-red-100: #feb5b6;
  --stf-red-200: #f88687;
  --stf-red-300: #f45757;
  --stf-red-400: #f02928;
  --stf-red-500: #d7110f;
  --stf-red-600: #a80b0b;
  --stf-red-700: #790607;
  --stf-red-800: #4a0203;
  --stf-red-900: #1f0000;
}

:root {
  --stf-orange-50: #ffefde;
  --stf-orange-100: #fdd5b4;
  --stf-orange-200: #f7ba88;
  --stf-orange-300: #f19f5a;
  --stf-orange-400: #ec832c;
  --stf-orange-500: #d36a13;
  --stf-orange-600: #a5520d;
  --stf-orange-700: #763a07;
  --stf-orange-800: #482200;
  --stf-orange-900: #1d0a00;
}

:root {
  --stf-yellow-50: #fff8de;
  --stf-yellow-100: #f9eab6;
  --stf-yellow-200: #f3dc8b;
  --stf-yellow-300: #eecf5e;
  --stf-yellow-400: #e9c131;
  --stf-yellow-500: #d0a719;
  --stf-yellow-600: #a18211;
  --stf-yellow-700: #735d09;
  --stf-yellow-800: #453802;
  --stf-yellow-900: #191300;
}

:root {
  --stf-green-50: #e2fbed;
  --stf-green-100: #c2ebd4;
  --stf-green-200: #9fddb9;
  --stf-green-300: #7ccf9e;
  --stf-green-400: #58c184;
  --stf-green-500: #3ea76a;
  --stf-green-600: #2e8251;
  --stf-green-700: #1f5d3a;
  --stf-green-800: #0f3921;
  --stf-green-900: #001506;
}

:root {
  --stf-teal-50: #defcfa;
  --stf-teal-100: #beefec;
  --stf-teal-200: #9ae1de;
  --stf-teal-300: #74d4d0;
  --stf-teal-400: #50c8c2;
  --stf-teal-500: #37afa9;
  --stf-teal-600: #278883;
  --stf-teal-700: #17625e;
  --stf-teal-800: #033b39;
  --stf-teal-900: #001616;
}

:root {
  --stf-blue-50: #e0f4ff;
  --stf-blue-100: #b8dcfa;
  --stf-blue-200: #8ec4f1;
  --stf-blue-300: #63ace8;
  --stf-blue-400: #3994e0;
  --stf-blue-500: #1f7bc6;
  --stf-blue-600: #135f9b;
  --stf-blue-700: #084470;
  --stf-blue-800: #002946;
  --stf-blue-900: #000f1d;
}

:root {
  --stf-cyan-50: #d9fdff;
  --stf-cyan-100: #adf1ff;
  --stf-cyan-200: #7fe7fb;
  --stf-cyan-300: #50dcf8;
  --stf-cyan-400: #24d2f5;
  --stf-cyan-500: #0ab9db;
  --stf-cyan-600: #0090ab;
  --stf-cyan-700: #00677c;
  --stf-cyan-800: #003f4c;
  --stf-cyan-900: #00171c;
}

:root {
  --stf-purple-50: #f0e8ff;
  --stf-purple-100: #cfbcf8;
  --stf-purple-200: #b091ef;
  --stf-purple-300: #9065e7;
  --stf-purple-400: #7039df;
  --stf-purple-500: #5620c5;
  --stf-purple-600: #43189a;
  --stf-purple-700: #30116f;
  --stf-purple-800: #1d0944;
  --stf-purple-900: #0c011b;
}

:root {
  --stf-pink-50: #ffe5f5;
  --stf-pink-100: #fab8d9;
  --stf-pink-200: #f38cbd;
  --stf-pink-300: #ec5fa3;
  --stf-pink-400: #e63389;
  --stf-pink-500: #cd1b6f;
  --stf-pink-600: #a01357;
  --stf-pink-700: #730b3e;
  --stf-pink-800: #470425;
  --stf-pink-900: #1d000e;
}
