@import './variables';

.stf-default-theme {
  font-family: var(--stf-font-family);
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;

  /* Utilities */
  .stf-flex {
    margin-top: 10px;
    display: flex;

    &.stf-flex-column {
      flex-direction: column;
    }
  }

  /* Button */
  .stf-form-button {
    border: 1px solid var(--stf-blue-500);
    background: var(--stf-blue-500);
    color: var(--stf-white);
    border-radius: 5px;
    font-weight: bold;
    transition: 0.25s;
    margin-top: 15px;
    font-size: 16px;
    outline: none;
    padding: 10px;
    width: 100%;

    &:hover {
      cursor: pointer;
    }

    &:active {
      transform: scale(1.01);
    }

    &:disabled {
      opacity: 0.5;
    }
  }

  /* Form group styles */
  .stf-form-group {
    display: inline-block;
    position: relative;
    padding-top: 15px;
    width: 100%;
  }

  /* Form control styles */
  .stf-form-control {
    border: 1px solid var(--stf-gray-100);
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    padding: 10px;
    resize: none;
    width: 100%;

    &.invalid {
      color: var(--stf-red-500);
    }

    &.focus {
      border: 1px solid var(--stf-blue-500);
    }

    &.prepend {
      border-bottom-left-radius: 0px;
      border-top-left-radius: 0px;
    }

    &.append {
      border-bottom-right-radius: 0px;
      border-top-right-radius: 0px;
    }
  }

  /* Label styles */
  .stf-form-label {
    color: var(--stf-gray-800);
    display: block;

    &.invalid {
      color: var(--stf-red-500);
    }
  }

  /* Form control message */
  .stf-form-text {
    padding: 10px 0px;
    font-size: 12px;
    display: block;

    &.stf-text-muted {
      color: var(--stf-gray-500);
    }

    &.stf-text-invalid {
      color: var(--stf-red-500);
    }
  }

  /* Form group addons */
  .stf-form-addon {
    border: 1px solid var(--stf-gray-200);
    background: var(--stf-gray-50);
    color: var(--stf-gray-700);
    justify-content: center;
    align-items: center;
    max-width: 50px;
    min-width: 50px;
    display: flex;

    &.prepend {
      border-radius: 5px 0px 0px 5px;
      border-width: 1px 0px 1px 1px;
    }

    &.append {
      border-radius: 0px 5px 5px 0px;
      border-width: 1px 1px 1px 0px;
    }
  }

  /* Dropdowns */
  .stf-dropdown {
    border: 1px solid var(--stf-gray-200);
    background: var(--stf-white);
    position: absolute;
    visibility: hidden;
    overflow-y: scroll;
    max-height: 300px;
    width: 100%;
    z-index: 1;

    &.visible {
      visibility: visible;
    }
  }

  /* Select items */
  .stf-dropdown-item {
    align-items: center;
    padding: 5px 0px;
    display: flex;
    padding: 10px;

    &:hover {
      background: var(--stf-gray-50);
      cursor: pointer;
    }

    &.selected {
      background: var(--stf-blue-300);
      color: var(--stf-white);
    }
  }

  /* Radio button */
  .stf-radio {
    border: 1px solid var(--stf-gray-500);
    border-radius: 50%;
    margin-right: 8px;
    height: 15px;
    width: 15px;
    padding: 1px;

    .filled {
      background: var(--stf-blue-500);
      border-radius: 50%;
      height: 100%;
      width: 100%;
    }
  }

  /* Checkbox */
  .stf-checkbox {
    border: 1px solid var(--stf-gray-500);
    border-radius: 2px;
    margin-right: 8px;
    padding: 1px;
    height: 15px;
    width: 15px;

    .filled {
      background: var(--stf-blue-500);
      border-radius: 2px;
      height: 100%;
      width: 100%;
    }
  }

  /* Switch */
  .stf-switch {
    border: 1px solid var(--stf-gray-500);
    border-radius: 15px;
    position: relative;
    margin-right: 8px;
    transition: 0.25s;
    height: 15px;
    padding: 1px;
    width: 30px;

    &.actived {
      background: var(--stf-blue-500);
    }

    .pill {
      border: 1px solid var(--stf-gray-500);
      background: var(--stf-gray-50);
      height: calc(100% - 4px);
      border-radius: 50%;
      position: absolute;
      transition: 0.25s;
      width: 14px;
      left: 1px;

      &.actived {
        left: 15px;
      }
    }
  }
}
